<div class="container-fluid bg details">
    <button class="btn btn-info backBtn" ng-click="goToMain()"><i class="glyphicon glyphicon-arrow-left"></i> Back</button>
    <div class="row detailsPage">
        <div class="col-md-2">Company Id</div>
        <div class="col-md-1">:</div>
        <div class="col-md-9">
            <strong>{{params.cid}}</strong>
        </div>
        <div class="col-md-2">Company Name</div>
        <div class="col-md-1">:</div>
        <div class="col-md-9">
            <strong>{{params.name}}</strong>
        </div>
    </div>

</div>